{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-center">
            <h1 class="text-center">Page not found</h1>
        </div>
    </div>
{% endblock %}